
@font-face {
    font-family: Anton-Regular;
    src: url(Anton-Regular.ttf);
    font-style: normal; 
font-weight: normal;
} 
@font-face {
    font-family: RobotoMono-Italic-VariableFont_wght;
    src: url(RobotoMono-Italic-VariableFont_wght.ttf);
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: RobotoMono-VariableFont_wght;
    src: url(RobotoMono-VariableFont_wght.ttf);
    font-style: normal; 
    font-weight: normal;
}

body{
    width: 1000px;
    height: 1700px;
margin: 0px;
padding: 0px;
font-family: Anton-Regular;
font-size: 100px;

background-color: #F2F2F2;

}

.header{
    position: absolute;
    width: 1700px;
    height: 150px;
    background-color:khaki;
    color: red;
    text-align: center;
}

.content{
   text-align: center;
    border-top-right-radius: 50px;
    position: absolute;
    width: 1350px;
    top: 750px;
    height: 1750px;
    left: 200px;
    right: 500px;
    background-color: white;
}
p{
    font-family: RobotoMono-VariableFont_wght;
    font-size: 65px;

}
.instagram{
    font-family: RobotoMono-VariableFont_wght;
    position: relative;
    top:2200px;
    left: 600px;
    font-size: 45px;
}
.insta{
    width: 100px;
    height: 100px;
    position: relative;
    right: 40px;
    bottom: -32px;
}
a{
    text-decoration: none;
    color: black;
}
.hat{
    position: absolute;
    z-index: 0;
    top: 640px;
    left: 1450px;
   width: 200px;
}
span{
    color: red;
}
.o{
    position: relative;
    left: -115px;
}
.comment{
    position: absolute;
    width: 1890px;
    top:2500px;
    background-color:khaki;
}
