
@font-face {
    font-family: Anton-Regular;
    src: url(Anton-Regular.ttf);
    font-style: normal; 
font-weight: normal;
} 
@font-face {
    font-family: RobotoMono-Italic-VariableFont_wght;
    src: url(RobotoMono-Italic-VariableFont_wght.ttf);
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: RobotoMono-VariableFont_wght;
    src: url(RobotoMono-VariableFont_wght.ttf);
    font-style: normal; 
    font-weight: normal;
}

body{
margin: 0px;
padding: 0px;
font-family: Anton-Regular;
font-size: 80px;

background-color: #F2F2F2;

}

.header{
    position: relative;
    width: 2000px;
    height: 130px;
    background-color:khaki;
    color: red;
    text-align: center;
}

.content{
   
    border-top-right-radius: 50px;
    position: relative;
    width: 1200px;
    top: 150px;
    height: 2000px;
    left: 450px;
    right: 500px;
    background-color: white;
}
p{
    font-family: RobotoMono-VariableFont_wght;
    font-size: 70px;

}
.instagram{
    font-family: RobotoMono-VariableFont_wght;
    position: absolute;
    top:120px;
    left: 750px;
    font-size: 15px;
}
.insta{
    width: 100px;
    height: 100px;
    position: relative;
    right: 40px;
    bottom: -32px;
}
a{
    text-decoration: none;
    color: black;
}
.hat{
    position: absolute;
    z-index: 0;
    top: 239px;
    left: 1550px;
   width: 200px;
}
span{
    color: red;
}
.o{
    position: relative;
    left: -115px;
}
