@font-face {
    font-family: CarroisGothic-Regular;
    src: url(/Шрифты/CarroisGothic-Regular.ttf);
    font-style: normal; 
font-weight: normal;
}

body{
    margin: 10px;
    background: url(/img/clay.jpg) repeat;
}
p{
    color: white;
    font-size: 54px;
    font-family:CarroisGothic-Regular;
}